html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.Na1 {
    text-align: center;
}

.lo2 {
max-width: 750px;
margin-left: auto;
margin-right: auto;
}

.lo1 {
    text-align: center;
}

.images {
    justify-content: center;
    align-items: center;
    display: flex;
}

.image1 {
    max-width: 400px;
    max-height: 300px;
}
.image2 {
    max-width: 400px;
    max-height: 300px;
}
.image3 {
    max-width: 400px;
    max-height: 300px;
}